.footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 1rem;
    width: 100vw;
    height: 100px;
    position: absolute;/*Fix posittion*/
    top: 100vh;/*Fix position to the left*/
    left: 0;/*Fix position to the left*/
    bottom: 0;/*Fix position to the buttom*/

}